<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css" />
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <input type="checkbox" id="toggle-main-nav" />
      <header class="site-header">
        <div class="inner">
          <div class="logo">
            <a href="/"><img src="{{ site.baseurl }}/images/css.png" alt="css-logo" /></a>
          </div>
          {% include navigation.html %}
        </div>
        <div class="title-center">
          <h2 class="site-title title">CSS Advanced Homeworks</h2>
        </div>
        <img src="{{ site.baseurl }}/images/CSS Advanced.png" alt="css-advanced" class="left">
      </header>

      <main class="site-content">
        {{ content }}
      </main>
    </div>
    <footer class="site-footer">
      <p>&copy; SoftUni CSS Homeworks by Silenci0</p>
    </footer>
  </div>
</body>
</html>