.button-container {
  ul {
    display: block;
  }

  li {
    display: block;
    position: relative;
    margin: 1rem 10rem;
    
  }

  a {
    display: flex;
    padding: 0.5em 1em;
    justify-content: center;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    transition: background 0.3s ease-in, color 0.3s ease-in;
    border: 2px solid $primary-items-color;
    border-radius: 20px;

    i {
      padding: 0.2rem 0.6rem 0 0;
    }
  }

  a:focus,
  a:hover {
    background: $primary-items-color;
    color: $main-header-text-color;
  }

  .sass-github {
    margin: 1rem 10rem;
  }
}
