.title-center {
    text-align: center;
}

.title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    &:after {
      @include line;
    }
}

.site-title {
    color: $main-header-text-color;
    text-shadow: 3px 4px 3px black;
}
